<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender</title>
</head>
<body>
    <h1>Movie Recommender</h1>
    <form action="/recommend" method="post">
        <label for="user_input">Enter your preferences:</label>
        <textarea id="user_input" name="user_input" rows="4" cols="50"></textarea>
        <br>
        <input type="submit" value="Get Recommendations">
    </form>
</body>
</html>
