<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendations</title>
</head>
<body>
    <h2>Movie Recommendations:</h2>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Review</th>
        </tr>
        {% for index, row in recommendations.iterrows() %}
            <tr>
                <td>{{ row['Title'] }}</td>
                <td>{{ row['Genre'] }}</td>
                <td>{{ row['Review'] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
